// Variáveis
$font-family: 'Arial, sans-serif';
$background-color: #f0f0f0;
$secondary-color: #182C61;
$hover-color: #4cd137;
$text-color: #fff;
$product-border-radius: 16px;
$button-border-radius: 8px;
